body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contentWrapper {
  padding-left: 250px;
  padding-right: 250px;
  p {
    color: rgb(91, 86, 86);
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
  }
  h1, h2, h3 {
    text-align: center;
    color: #eb5935;
  }
  em {
    color: rgb(91, 86, 86);

  }
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    background-color: #f4f4f4;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;

  };
  section {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 100px;
    hr {
      margin-bottom: 50px
    }
  }
  .aboutMe {
    div {
      display: flex;
      img {
        width: 200px;
        margin-right: 100px;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.27);
      }

    }

  }
  .education {
    > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      align-items: center;

    }
  }
  .experience {
    > div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
      > div:nth-child(1){
        margin-right: 150px;
        flex: 0.5;
        background-color: #f4f4f4;
        padding: 20px;
        h4:nth-of-type(1) {
          margin-top: 0;
        }

      }
      > div:nth-child(2){
        flex: 1.5;
        > p {
          text-align: justify;
        }
        .gl-paragraph {
          max-width: 1030px;
          
        }
        div {
          display: flex;
          flex-direction: column;
          img {
            width: 100%;
          }
          em {
            align-self: center;
            margin-bottom: 10px;
          }
        }
      }


    }
  }
}
